<div class="about-top">
  <h1 class="ht1">
    RAMEN-COLLECTION</br>
  </h1>
</div>

<div class="text">
  <h1 class="ht4 text-center p-5">
      <strong>ラーメンを食べよう!</strong>
  </h1>
  <h2 class="ht4 text-center p-5">
  醤油、豚骨、塩、鶏白湯、味噌....等々、ラーメンにはたくさんの種類があります。</br>
  それほどたくさんの種類があり研究されている、魅力的なラーメンをみんなで共有したいと思い</br>
  このサイトを作成しました。</br>
  自分の好みのラーメンを見つけてラーメンを食べに行きましょう!
 </h2>
 <div class="about-bottom"></div>
</div>

