<div class = "container">
　<div class = "row">
    <h1>Ramen Collection</h1>
  </div>
  <div class = "row">
    <%= link_to "投稿一覧へ", products_path %>
  </div>
  <div class = "row">
    <%= link_to "新規登録はこちら", products_path %>
  </div>
  <div class = "row">
    <%= link_to "ログインはこちら", products_path %>
  </div>
</div>