<div class = "container mx-auto">
  <div class = "row">
    <div class = "col-2">
    　<div>
      <div><img src="/assets/icon1.jpg" alt=""></div>
        <h1>Ramen Collection</h1>
      </div>
      <div class ="mt-3">
        <%= link_to "投稿一覧へ", posts_path, class: "btn btn-light btnx-red-light rounded-pill" %>
      </div>
      <div class ="mt-3">
        <%= link_to "新規登録はこちら", new_customer_registration_path, class: "btn btn-light btnx-indigo-light rounded-pill" %>
      </div>
      <div class ="mt-3">
        <%= link_to "ログインはこちら", new_customer_session_path, class: "btn btn-light btnx-indigo-light rounded-pill" %>
      </div>
    </div>

    <div class = "col-10 mt-5">
      <div class="swiper-container">
         <div class="swiper-wrapper">
           <div class="swiper-slide"><img src="/assets/a.jpg" alt=""></div>
           <div class="swiper-slide"><img src="/assets/b.jpg" alt=""></div>
           <div class="swiper-slide"><img src="/assets/c.jpg" alt=""></div>
         </div>

         <div class="swiper-pagination swiper-pagination-white"></div>
      </div>
    </div>
  </div>
<script src="swiper.js"></script>
<script>
       var swiper = new Swiper('.swiper-container', {
         loop: true,
  effect: 'fade',
  autoplay: {
    delay: 4000,
    disableOnInteraction: false,
  },
  speed: 2000,
  pagination: {
    el: '.swiper-pagination',
    clickable: true,
	}
});
</script>

</div>