/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.swiper-container {
  position: relative;
  overflow: hidden;

  height: 40vw;
  max-height: 600px; //最大の高さ
  min-height: 400px; //最小の高さ

  .swiper-slide {
    text-align: center;
    line-height: 1;
    display: flex;
    align-items: flex-start; //画像の高さを統一させない
    justify-content: center; //左右の中央揃え

    img {
      display: inline; //念のため
      width: auto; //念のため
      max-width: 100%;
      max-height: 100%;
      align-self: center; //上下の中央揃え
      border-radius: 100px 100px 100px 100px;
    }
  }
  .swiper-button-white {
    &:focus {
      outline: none;
    }
  }
  .swiper-button-prev {
    left: 25px;
  }
  .swiper-button-next {
    right: 25px;
  }
}

.btnx-indigo-light{
    color: var(--bs-#000000) ;background: #FFCC66; border: 2px solid #FFCC66;
}
.btnx-red-light{
    color: var(--bs-#000000) ;background: #FFFFFF; border: 2px solid #808080;
}

.homelink{
   text-decoration: none;
   color: #000000 ;
}

// ユーザー画像を表示する時に使用
.userimage{
   border-radius: 50%;
      width: 120px;
      height: 120px;
      object-fit: cover;
}

// ラーメン投稿画像を表示
.postimage{
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.postshowimage{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;

}
.map{
  width: 1000px;
    height: 600px;
}

.userimage_comment{
  border-radius: 50%;
      width: 50px;
      height: 50px;
      object-fit: cover;
}