<div class="container">
  <div class="row">
    <div class="col text-center">
      <%= link_to 'お問い合わせ', inquiry_path, class: 'btn btn-light btnx-red-light rounded-pill mt-2' %>
      <p class="text-center mt-3">©2021 All rights reserved by Ramen-Collection.</p>
    </div>
  </div>
</div>
