<% if resource.errors.any? %>
  <div id="error_explanation">
   <% if resource.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <%= resource.errors.count %>個のエラーあり
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
  <% end %>
  </div>
<% end %>
